@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<div>
<br>
<br>
<p>Mascota Feliz, en la ciudad de Bucaramanga, cuyo objeto social principal es prestar atención médica veterinaria, servicios veterinarios y servicios generales a propietarios y sus mascotas, se acoge a las disposiciones generales contenidas en la Ley 1581 de 2012 y el Decreto 1377 de 2013, y a las demás normas que modifiquen la materia, expide el siguiente manual de protección y tratamiento de datos con el fin de crear un sistema organizacional que regule los asuntos relacionados con la recolección, el almacenamiento, el uso, el procesamiento, la circulación y el tratamiento de todos los datos de carácter personal. </p>
<br>
<p>DEFINICIONES </p>
<br>
<p>De acuerdo con lo previsto en la Ley 1581 de 2012 y el Decreto reglamentario 1377 de 2013, para efectos de la política de privacidad y manejo de este Manual, se tendrán en cuenta las siguientes definiciones: </p>
<br>
<p>1. Autorización. Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.  </p>

<p>2. Aviso de privacidad. Comunicación verbal o escrita generada por el responsable, dirigida al Titular sobre el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos personales. </p>

<p>3. Base de Datos. Conjunto organizado de datos personales que sea objeto de Tratamiento. </p>

<p>4. Dato personal. Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables. </p>

<p>5. Dato sensible. Aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos. </p>

<p>6. Encargado del tratamiento. Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del responsable del Tratamiento.  </p>

<p>7. Responsable del tratamiento. Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.  </p>

<p>8. Titular. Persona natural cuyos datos personales sean objeto de Tratamiento.  </p>

<p>9. Tratamiento. Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.  </p>

<p>10.Transferencia. La transferencia de datos tiene lugar cuando el responsable y/o Encargado del Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.  </p>

<p>11. Transmisión. Tratamiento de datos personales que implica la comunicación de estos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el Encargado por cuenta del responsable.  </p>

</div>
